body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: #222;
  color: #EEE;
}

/* Map & Header */
#map-header{
  height: 100px;
}

#map{
  height: calc( 100vh - 100px ); 
}

/* Sidebar */
#sidebar{
  
}

/* Sidebar Colors */
.leaflet-sidebar-content{
  background-color: #222;
}
.leaflet-sidebar-tabs{
  background-color: #111;
}
.leaflet-sidebar-header{
  background-color: #444
}
.leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active{
  background-color: #444
}

.leaflet-control-layers-selector{
    background-color: #222;
    color: #222;
}
/* Leaflet Button Colors */
a.leaflet-control-zoom-in {
  background-color: #111;
  color: #CCC;
}
a.leaflet-control-zoom-out {
  background-color: #111;
  color: #CCC;
}
a.leaflet-control-zoom-in.leaflet-disabled, a.leaflet-control-zoom-out.leaflet-disabled{
  background-color: #333;
}
.leaflet-control-layers-expanded{
  background-color: #111;
  color: #EEE;
}
.leaflet-control{
  background-color: #111;
  color: #CCC;
}

.lorem {
    font-style: italic;
    color: #AAA;
}


.fa{
  color: #CCC;
}