body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: #222;
  color: #EEE;
}

h1 {
  /* margin-top: 5px;
  margin-bottom: 5px; */
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}



/* Header */
#map-header{
  padding: 10px;
  height: 75px;
  display: flex;
}
#header-left{
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-center{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-right{
  width: 25%;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
}
#selected-coords-header{
  margin-bottom: 0px;
  font-size: 1.4em;
  padding-right: 10px;
  padding-left: 10px;
}
.selected-coords-text{
  margin-bottom: 0px;
  font-size: 1.4em;
  padding-right: 5px;
}
#header-coords-container{
  display: flex;
  border:1px solid white;
  width: 80%;
  height: 50px;
  justify-content: left;
  align-items: center;
  background-color: #333;
}
#selected-coords-header-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid white;
  width: 200px;
  height: 50px;
}
#selected-coords-container{
  margin-left: 10px;
}
#selected-coords-container h2{
  display: inline-block;
}
#get-report-btn{
  background-color: #333;
  border-color: #CCC;
  font-weight: bold;
  font-size: 1.75em;
  width: 90%;
  height: 50px;
  right: 10px;
}




/* Map */

#map{
  height: calc( 100vh - 75px ); 
}


/* Media Queries on Header and Map */

@media (max-width: 973px){
  #selected-coords-header-container{
    width: 120px;
  }
}

@media (max-width:850px) {
  #get-report-btn{
    /* margin-top: 0px; */
    width: 100%;
  }
}

@media (max-width:750px) {
  #get-report-btn{
  font-size: 1.5em;
  }
}

@media (max-width:650px) {
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.25em;
  }
  #header-coords-container{
    width: 100%;
    margin: 5px;
  }
  #selected-coords-header{
    width: 100px;
    font-size: 1.2em;
  }
  #map-header{
    height: 155px;
    flex-direction: column;
  }
  #map{
    height: calc( 100vh - 155px ); 
  }
  #header-left{
    width: 100%;
  }
  #header-center{
    flex-wrap: wrap;
    flex-basis: 100%;
    width: 100%;
  }
  #header-right{
    flex-wrap: wrap;
    flex-basis: 100%;
    width: 100%;
    text-align: center;
  }
  #get-report-btn{
    margin: 5px;
    height: 40px;
    width: 100%;
  }
}
@media (max-width:480px) {
  .selected-coords-text{
    font-size: 1.2em;
  }
}







/* Sidebar */


/* Widen Sidebar to 50px */
.leaflet-sidebar.collapsed, .leaflet-sidebar-close, .leaflet-sidebar-tabs, .leaflet-sidebar-tabs, .leaflet-sidebar-tabs > ul{
  width: 50px;
}
.leaflet-sidebar-left.collapsed ~ .leaflet-control-container .leaflet-left{
  left: 60px;
}
.leaflet-sidebar-left .leaflet-sidebar-content{
  left: 50px;
}
.leaflet-sidebar-tabs > li > a, .leaflet-sidebar-tabs > ul > li > a {
  line-height: 50px;
}
@media (max-width: 767px){
  .leaflet-sidebar-left.collapsed ~ .leaflet-control-container .leaflet-left{
  left: 50px;
}
}


/* Sidebar Colors */
.leaflet-sidebar-content{
  background-color: #222;
}
.leaflet-sidebar-tabs{
  background-color: #111;
}
.leaflet-sidebar-header{
  background-color: #444
}
.leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active{
  background-color: #444
}

.leaflet-control-layers-selector{
    background-color: #222;
    color: #222;
}
/* Leaflet Button Colors */
a.leaflet-control-zoom-in {
  background-color: #111;
  color: #CCC;
}
a.leaflet-control-zoom-out {
  background-color: #111;
  color: #CCC;
}
a.leaflet-control-zoom-in.leaflet-disabled, a.leaflet-control-zoom-out.leaflet-disabled{
  background-color: #333;
}
.leaflet-control-layers-expanded{
  background-color: #111;
  color: #EEE;
}
.leaflet-control{
  background-color: #111;
  color: #CCC;
}

.lorem {
    font-style: italic;
    color: #AAA;
}


.fa{
  color: #CCC;
  font-size: 1.5em;
}